<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sailegnik.shuttledrive_g4">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShuttleDriveG4">
        <activity
            android:name=".payment.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".payment.PaymentMethActivity"
            android:exported="false" />
        <activity
            android:name=".payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".booking.BookingListActivity"
            android:exported="false" />
        <activity
            android:name=".login_firebase.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".login_firebase.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".login_firebase.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ticket.TicketActivity"
            android:exported="false" />
        <activity
            android:name=".cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".booking.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".intro.IntroActivity"
            android:exported="false"
            android:theme="@style/Theme.IntroSlides" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".splashscreen.SplashUIActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashUI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>